$border-color: #d7c3cd;
$super-red: #ff285b;
$text: #424242;
$text-gray : #676767;
$body: #f8f6f7;
$purple: #a52681;
$pink: #d043a9;
$grey: #828282;
$blue: #49a2ff;

$media-desktop: 1280px;
$media-tablet: 960px;
$media-mobile: 767px;
